h1{
 color: red;
}
section{
    background : #f9ed69;
    h1{
        background: darkred;
    }
    h2{
        background: darkblue;
        color: white;
    }
    p{
        background: orange;
    }
}