/*SIN EXTENSION NI GUIN BAJO*/
@import "variables" ;
@import "footer" ;


/*LO IDEAL ES QUE EN ESTE ARCHIVO PRINCIPAL SOLO ESTEN LAS IMPORTACIONES*/
h1{
 color: red;
}
section{
    background : $color1;
    h1{
        background: darkred;
    }
    h2{
        background: darkblue;
        color: white;
    }
    p{
        background: orange;
    }
}